.letter {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #414141;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #F9F4DA;
}